services:
  redis:
    image: redis:7-alpine
    container_name: redis_queue
    ports:
      - "6379:6379"

  postgres:
    image: postgres:16
    container_name: analytics_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: analytics
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
